.home-container {
  position: relative;
}

.card {
  width: 620px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0 10px 25px 5px rgb(35, 35, 44);
  background: rgba(35, 35, 44, 0.95);
  overflow: hidden;
}
.card .ds-top {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: #6d5c71;
  animation: dsTop 1.5s;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card .avatar-holder {
  position: absolute;
  margin: auto;
  top: 40px;
  right: 0;
  left: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #151515, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000, inset 0 0 0 5px #000000;
  background: white;
  overflow: hidden;
  animation: mvTop 1.5s;
}
.card .avatar-holder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(115%) contrast(115%);
}
.card .name {
  position: absolute;
  top: 215px;
  right: 0;
  bottom: 0;
  left: 0;
  width: inherit;
  height: 40px;
  text-align: center;
  animation: fadeIn 2s ease-in;
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
}

.card .info {
  position: absolute;
  bottom: 0;
  padding: 2rem;
  width: 550px;
  animation: fadeInMove 2s;
  animation-fill-mode: forwards;
  letter-spacing: normal;
  text-transform: none;
}

@keyframes fadeInMove {
  0% {
    opacity: 0;
    left: -300px;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes mvTop {
  0% {
    top: -150px;
  }
  100% {
    top: 40px;
  }
}
@keyframes dsTop {
  0% {
    top: -150px;
  }
  100% {
    top: 0;
  }
}

@media screen and (max-height: 640px) {
  .home-container .card {
    height: 550px;
  }

  .home-container .card .ds-top {
    height: 110px;
  }

  .home-container .card .avatar-holder {
    top: 30px;
  }

  .home-container .card .name {
    font-size: 16px;
    top: 200px;
  }

  .home-container .card .info {
    font-size: 15px;
  }
}