.socials-container {
  width: 90vw;
  display: flex;
  justify-content: space-between;
}

.socials-container .social-card {
  position: relative;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.socials-container .social-card .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.7s;
  z-index: 1;
}

.socials-container .social-card:nth-child(1) .icon {
  background: #2867B2;
}

.socials-container .social-card:nth-child(2) .icon {
  background: #6e5494;
}

.socials-container .social-card:nth-child(3) .icon {
  background: #1DA1F2;
}

.socials-container .social-card:nth-child(4) .icon {
  background: #F4B400;
}


.socials-container .social-card .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.7s;
  color: #fff;
}

.socials-container .social-card .face {
  width: 340px;
  height: 200px;
  transition: 0.5s;
}

.socials-container .social-card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.socials-container .social-card:hover .face.face1{
  background: #ff0057;
  transform: translateY(0px);
}

.socials-container .social-card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;
}

.socials-container .social-card:hover .face.face1 .content {
  opacity: 1;
}

.socials-container .social-card .face.face1 .content i{
  max-width: 100px;
}

.socials-container .social-card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0,0,0,0.8);
  transform: translateY(-100px);
  word-break: break-word;
}

.socials-container .social-card:hover .face.face2{
  transform: translateY(0);
}

.socials-container .social-card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.socials-container .social-card .face.face2 .content h3 {
  margin: 0 0 10px 0;
  padding: 0;
  color: #fff;
  font-size: 18px;
  text-align: center;
}


.socials-container a {
  text-decoration: none;
}

.github-contact {
  position: absolute;
  bottom: 5%;
  right: 4%;
  font-size: 2rem;
  cursor: pointer;
}

.github-contact a {
  text-decoration: none;
}
.github-contact i {
  color: #23232c;
}


@media screen and (max-width: 1600px) {
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 17px;
  }
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 15px;
  }
  .socials-container .social-card .face {
    width: 320px;
  }
}

@media screen and (max-width: 1500px) {
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 16px;
  }
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 14px;
  }
  .socials-container .social-card .face {
    width: 300px;
  }
}

@media screen and (max-width: 1368px) {
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 15px;
  }
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 13px;
  }
  .socials-container .social-card .face {
    width: 280px;
  }
}

@media screen and (max-width: 1024px) {
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 14px;
  }
  .socials-container .social-card .face.face2 .content h3 {
    font-size: 12px;
  }
  .socials-container .social-card .face {
    width: 260px;
  }
}